@use "./colors" as *;
@use "./mixins" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir-Next", "Arial", Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.brainflix-header {
  @include flex(_, center, _);
  flex-wrap: wrap;
  margin: 1rem;
  @include tablet {
    @include flex(center, center, _);
  }

  &__logo-container {
    width: 100%;
    margin: 0 30% 1rem 30%;
    @include tablet {
      width: 16vw;
      margin: 0 5.5rem 0 1rem;
    }
    @include desktop {
      width: 20vw;
    }

    &--logo {
      width: 35vw;
      @include tablet {
        width: 16vw;
        margin-left: -4rem;
      }
      @include desktop {
        width: 10vw;
        margin-left: -15rem;
      }
    }
  }

  &__search {
    width: 85%;
    position: relative;
    @include tablet {
      width: 32%;
      margin-left: -2rem;
    }
    @include desktop {
      width: 20%;
    }
    &--icon {
      position: absolute;
      top: 25%;
      left: 5%;
      width: 1.4rem;
      @include tablet {
        width: 1.2rem;
      }
    }
    &--input {
      width: 100%;
      padding: 0.9rem 0;
      border-radius: 5px;
      border: $secondary-color3 1px solid;
      background-color: $secondary-color4;
      @include tablet {
        padding: 0.8rem 0;
      }
      @include desktop {
      }
    }
    ::placeholder {
      font-size: 1rem;
      padding-left: 3rem;
      color: $primary-color1;
      @include tablet {
        font-size: 0.8rem;
        padding-left: 2.5rem;
      }
    }
  }

  &__button {
    width: 100%;
    position: relative;
    @include flex(center, center, _);
    @include tablet {
      width: 22%;
      margin-top: 0;
      margin-left: -1.4rem;
      padding: 0.8rem 2rem;
      font-size: 0.8rem;
    }
    @include desktop {
      width: 12%;
      margin-right: -10rem;
    }
    &--icon {
      position: absolute;
      left: 3%;
      top: 45%;
    }
    &--upload {
      width: 100%;
      margin-top: 1.3rem;
      padding: 1rem 3rem;
      font-size: 1rem;
      @include button;
    }
  }
  &__container {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 25px;
    &--img {
      @extend .brainflix-header__container;
      object-fit: cover;
      object-position: 20% 50%;
      margin-left: 1rem;

      @include tablet {
        position: absolute;
        right: 3%;
        width: 2.5rem;
        height: 2.5rem;
      }

      @include desktop {
        right: 9%;
      }
    }
  }
}
