@use "./colors" as *;
@use "./fonts" as *;

//fonts
@mixin font-regular {
  font-family: "Avenir-Next";
  font-weight: 400;
}

@mixin font-demi {
  font-family: "Avenir-Next";
  font-weight: 600;
}
@mixin font-bold {
  font-family: "Avenir-Next";
  font-weight: 700;
}

//media query
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

//flex
@mixin flex($justify-content, $align-items, $flex-direction) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

//button style
@mixin button {
  background-color: $primary-color2;
  color: $primary-color4;
  border-radius: 5px;
  border: none;
  @include font-regular();
}
