@use "../../styles/_partials/colors" as *;
@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/mixins" as *;

.comment-form {
  &__heading {
    @include font-demi;
    color: $primary-color1;
    margin-left: 1rem;
    margin-top: 0.5rem;
    @include tablet {
      margin-left: 1.6rem;
      margin-bottom: 1rem;
    }
    @include desktop {
      font-size: 0.9rem;
    }
  }
  &__body {
    @include flex(center, _, _);
    padding-top: 2.2rem;
    padding-bottom: 1rem;
    border-bottom: $secondary-color3 2px solid;
    margin: 0 1rem 0 1rem;
    @include tablet {
      @include flex(space-between, center, _);
      margin: 0 1.6rem;
      padding-bottom: 1.5rem;
    }
    @include desktop {
      margin-right: 0;
      border-bottom: none;
      padding-bottom: 1rem;
    }
  }
  &__img-container {
    width: 3rem;
    height: 3rem;
    border-radius: 25px;
    margin: 0.5rem 0.5rem 0 0;
    &--img {
      @extend .comment-form__img-container;
      object-fit: cover;
      object-position: 20% 50%;
      @include tablet {
        margin: 0;
      }
      @include desktop {
        position: relative;
        top: -10%;
      }
    }
  }
  &__form {
    margin-left: 1rem;
    position: relative;
    @include tablet {
      @include flex(_, _, _);
      margin: 0;
      position: relative;
      @include desktop {
        margin-right: 1.5rem;
      }
    }

    &--label {
      color: $primary-color3;
      @include font-demi;
      position: relative;
      top: -3%;
      @include tablet {
        position: absolute;
        top: -40%;
        font-size: 0.85rem;
      }
    }
    &--comment-box {
      width: 75vw;
      height: 8rem;
      border-radius: 5px;
      border: $secondary-color3 1px solid;
      background-color: $secondary-color4;
      padding-bottom: 5rem;
      @include tablet {
        width: 58vw;
        height: 3rem;
        padding: 0;
        margin-right: 1.5rem;
      }
      @include desktop {
        width: 35vw;
      }
    }
    ::placeholder {
      font-size: 1rem;
      color: $primary-color1;
      padding-left: 1rem;
    }

    &--button {
      margin-top: 1rem;
      width: 75vw;
      @include button;
      border: none;
      padding: 1rem 0 0.8rem 0;
      font-size: 1rem;
      position: relative;
      @include tablet {
        width: 23vw;
        margin: 0;
        height: 3rem;
        font-size: 0.8rem;
      }
      @include desktop {
        width: 13vw;
      }
    }
    &--img {
      position: absolute;
      top: 83%;
      left: 5%;
      @include tablet {
        top: 30%;
        left: 75%;
        width: 1.2rem;
      }
      @include desktop {
        left: 76%;
      }
    }
  }
}
