@use "../../styles/_partials/colors" as *;
@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/mixins" as *;

.comment-form__img-container {
  width: 3rem;
  height: 3rem;
  border-radius: 25px;
  &--img {
    @extend .comment-form__img-container;
    object-fit: cover;
    object-position: 20% 50%;
  }
}
