@use "../../styles/_partials/colors" as *;
@use "../../styles/_partials/mixins" as *;

.video-heading {
  color: $primary-color3;
  @include font-demi;
  margin: 1.5rem 1rem;

  @include tablet {
    margin-left: 1.6rem;
    font-size: 0.9rem;
  }

  @include desktop {
    font-size: 0.75rem;
    margin-top: 2.2rem;
    margin-bottom: 1rem;
  }
}
