//primary colors
$primary-color1: #323232; // BrainFlix-Black
$primary-color2: #0095ff; // BrainFlix-Blue
$primary-color3: #afafaf; //sliver
$primary-color4: #ffffff; //white

//secondary colors
$secondary-color1: #000000; //bandsite-darkblack
$secondary-color2: #0065ad; //BrainFlix-DarkBlue
$secondary-color3: #e1e1e1; //Mercury
$secondary-color4: #fafafa; //alabaster
