@use "../../styles/_partials/colors" as *;
@use "../../styles/_partials/mixins" as *;

.video-container {
  width: 100vw;
  height: auto;
  background: black;
  @include flex(center, _, _);

  &__video {
    width: 100vw;
    height: auto;
  }
}
