@use "../../styles/_partials/colors" as *;
@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/mixins" as *;

.comment-box {
  border-bottom: $secondary-color3 2px solid;
  @include flex(_, _, _);
  margin: 0 1rem;
  @include tablet {
    margin: 0.6rem 1.6rem 1rem 1.6rem;
    @include flex(space-between, _, _);
  }
  @include desktop {
    margin-right: 0;
    padding-top: 1rem;
    border-bottom: none;
    border-top: $secondary-color3 2px solid;
    @include flex(space-between, _, _);
  }

  &__img {
    border-radius: 40px;
    width: 3rem;
    height: 3rem;
    background-color: $secondary-color3;
    margin: 1rem 1rem 1rem 0;
    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
      margin-top: 0.5rem;
    }
    @include desktop {
      //margin-right: 3.5rem;
      width: 3rem;
      height: 3rem;
    }
  }
  &__content-box {
    width: 75vw;
    margin: 1rem 1rem 1rem 0;
    @include tablet {
      width: 85vw;
      margin: 0.5rem 1rem 1rem 0;
    }
    @include desktop {
      width: 50.5vw;
    }
    &--name {
      @include font-demi;
      color: $primary-color1;
      margin-bottom: 0.9rem;
      @include tablet {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
      }
    }
    &--time {
      color: $primary-color3;
      @include tablet {
        font-size: 0.9rem;
        margin-right: -1rem;
      }
      @include desktop {
        margin-right: 0;
      }
    }
  }
  &__content-box-name-time {
    @include flex(space-between, _, _);
  }

  &__comment {
    line-height: 1.4rem;
    @include tablet {
      font-size: 0.9rem;
    }
  }
}
